<div class="container entire_map">
<div class="row m-0 p-0">
  <div class="col m-0 p-0 americas_map">
  <%= image_tag("map_r1_c1.gif", class: "americas_map", name: "map_r1_c1") %>
  </div>
  <div class="col m-0 p-0">
    <div class="row m-0 p-0 legend_map">
    <%= image_tag("map_r1_c2.gif", class: "legend_map", name: "map_r1_c2") %>
    </div>
    <div class="row m-0 p-0">
      <div class="col m-0 p-0 europe_map">
      <%= image_tag("map_r2_c2.gif", class: "europe_map", name: "map_r2_c2") %>
      </div>
      <div class="col m-0 p-0 russia_map">
      <%= image_tag("map_r2_c3.gif", class: "russia_map", name: "map_r2_c3") %>
      </div>
    </div>
    <div class="row m-0 p-0">
      <div class="col m-0 p-0 africa_map">
      <%= image_tag("map_r3_c2.gif", class: "africa_map", name: "map_r3_c2") %>
      </div>
      <div class="col m-0 p-0">
        <div class="row m-0 p-0 asia_map">
        <%= image_tag("map_r3_c4.gif", class: "asia_map", name: "map_r3_c4") %>
        </div>
        <div class="row m-0 p-0">
          <div class="col m-0 p-0 ocean_map">
          <%= image_tag("map_r4_c4.gif", class: "ocean_map", name: "map_r4_c4") %>
          </div>
          <div class="col m-0 p-0 austrila_map">
          <%= image_tag("map_r4_c5.gif", class: "austrila_map", name: "map_r4_c5") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>