<map name="m_map_r1_c1">
  <area shape="poly" 
        coords="169,231,167,232,162,233,156,239,153,245,151,254,144,265,142,276,145,282,149,288,153,297,160,305,166,310,168,317,166,359,166,368,166,373,169,375,167,378,166,383,168,390,172,398,174,401,180,406,184,406,189,403,184,399,181,395,183,389,185,384,183,380,185,377,187,373,188,369,190,364,193,363,198,360,200,355,204,353,218,335,219,330,230,327,237,320,242,306,253,291,254,280,220,262,217,255,212,249,204,248,192,237,179,235,169,231" 
        href="#" 
        title="South America" 
        alt="South America"
        id="south_america_map_r1c1"
  >
  <area shape="poly" 
        coords="93,45,85,52,83,56,81,61,71,69,76,80,72,88,64,84,57,85,56,93,47,92,40,77,29,73,20,77,16,82,11,87,8,94,10,98,3,103,6,106,28,108,36,144,39,170,43,186,52,195,55,206,66,217,72,218,76,221,80,227,90,228,103,230,109,228,121,230,126,230,133,240,143,242,152,242,154,231,144,232,138,222,130,215,127,211,132,207,144,209,154,211,162,208,167,202,167,198,138,198,131,184,137,173,137,159,144,151,147,140,150,135,161,122,154,115,145,111,132,108,120,102,116,92,119,87,133,91,141,90,147,86,134,73,125,51" 
        href="#" 
        title="North America" 
        alt="North America"
        id="north_america_map_r1c1"
  >
</map>

<map name="m_map_r2_c3">
  <area shape="poly" 
        coords="58,10,31,18,18,19,18,44,21,52,21,59,27,71,25,83,16,90,9,104,9,116,4,121,9,135,16,145,15,153,14,158,4,167,-7,177,-1,187,16,206,40,196,48,184,64,188,78,220,95,228,135,237,159,249,178,254,228,252,239,243,249,237,267,239,281,237,294,241,307,238,317,223,310,211,284,202,249,204,228,204,220,180,210,163,202,144,201,130,218,131,246,119,252,102,254,82,268,73,276,63,269,45,277,32,278,21,208,20,192,13,181,13,148,5,119,1,58,10" 
        href="#" 
        title="Asia" 
        alt="Asia"
        id="asia_map_r2c3"
  >
</map>
<map name="m_map_r3_c2">
  <area shape="poly" 
        coords="176,-135,149,-127,136,-126,136,-101,139,-93,139,-86,145,-74,143,-62,134,-55,127,-41,127,-29,122,-24,127,-10,134,0,133,8,132,13,122,22,111,32,117,42,134,61,158,51,166,39,182,43,196,75,213,83,253,92,277,104,296,109,346,107,357,98,367,92,385,94,399,92,412,96,425,93,435,78,428,66,402,57,367,59,346,59,338,35,328,18,320,-1,319,-15,336,-14,364,-26,370,-43,372,-63,386,-72,394,-82,387,-100,395,-113,396,-124,326,-125,310,-132,299,-132,266,-140,237,-144,176,-135" 
        href="#" 
        title="Asia" 
        alt="Asia" 
        id="asia_map_r3c2"
  >
  <area shape="poly" 
        coords="44,16,35,22,31,26,15,39,12,56,18,72,28,84,51,80,56,84,62,86,61,95,66,103,68,113,64,126,67,133,71,144,75,153,76,159,80,166,95,164,111,149,116,146,120,146,134,149,139,149,146,139,149,130,151,123,145,114,130,97,134,93,148,74,150,64,136,66,112,38,111,32,110,28,85,26,75,23,73,15,44,16" 
        href="#" 
        title="Africa" 
        alt="Africa" 
        id="africa_map_r3c2"
  >
</map>
<map name="m_map_r3_c4">
  <area shape="poly" 
        coords="23,-135,-4,-127,-17,-126,-17,-101,-14,-93,-14,-86,-8,-74,-10,-62,-19,-55,-26,-41,-26,-29,-31,-24,-26,-10,-19,0,-20,8,-21,13,-31,22,-42,32,-36,42,-19,61,5,51,13,39,29,43,43,75,60,83,100,92,124,104,143,109,193,107,204,98,214,92,232,94,246,92,259,96,272,93,282,78,275,66,249,57,214,59,193,59,185,35,175,18,167,-1,166,-15,183,-14,211,-26,217,-43,219,-63,233,-72,241,-82,234,-100,242,-113,243,-124,173,-125,157,-132,146,-132,113,-140,84,-144,23,-135" 
        href="#" 
        title="Asia" 
        alt="Asia" 
        id="asia_map_r3c4"
  >
</map>
<map name="m_map_r4_c4">
  <area shape="poly" 
        coords="23,-229,-4,-221,-17,-220,-17,-195,-14,-187,-14,-180,-8,-168,-10,-156,-19,-149,-26,-135,-26,-123,-31,-118,-26,-104,-19,-94,-20,-86,-21,-81,-31,-72,-42,-62,-36,-52,-19,-33,5,-43,13,-55,29,-51,43,-19,60,-11,100,-2,124,10,143,15,193,13,204,4,214,-2,232,0,246,-2,259,2,272,-1,282,-16,275,-28,249,-37,214,-35,193,-35,185,-59,175,-76,167,-95,166,-109,183,-108,211,-120,217,-137,219,-157,233,-166,241,-176,234,-194,242,-207,243,-218,173,-219,157,-226,146,-226,113,-234,84,-238,23,-229" 
        href="#" 
        title="Asia" 
        alt="Asia"
        id="asia_map_r4c4" 
  >
</map>
<map name="m_map_r4_c5">
  <area shape="poly" 
        coords="-115,-229,-142,-221,-155,-220,-155,-195,-152,-187,-152,-180,-146,-168,-148,-156,-157,-149,-164,-135,-164,-123,-169,-118,-164,-104,-157,-94,-158,-86,-159,-81,-169,-72,-180,-62,-174,-52,-157,-33,-133,-43,-125,-55,-109,-51,-95,-19,-78,-11,-38,-2,-14,10,5,15,55,13,66,4,76,-2,94,0,108,-2,121,2,134,-1,144,-16,137,-28,111,-37,76,-35,55,-35,47,-59,37,-76,29,-95,28,-109,45,-108,73,-120,79,-137,81,-157,95,-166,103,-176,96,-194,104,-207,105,-218,35,-219,19,-226,8,-226,-25,-234,-54,-238,-115,-229" 
        href="#" 
        title="Asia" 
        alt="Asia" 
        id="asia_map_r4c5"
  >
  <area shape="poly" 
        coords="82,3,72,8,68,11,55,20,52,25,39,31,37,46,40,52,44,67,53,68,64,64,75,58,84,66,92,73,101,88,107,89,132,89,146,78,155,64,153,56,125,39,116,25,112,14,105,2,97,16,93,6,82,3" 
        href="#" 
        title="Australia" 
        alt="Australia"
        id="australia_map_r4c5"
  >
</map>
<div class="d-flex justify-content-center">
  <table class="m-0 p-0">
    <tr>
      <td class="m-0 p-0">
        <%= image_tag("spacer.gif", width: "274", height: "1") %>        
      </td>
      <td class="m-0 p-0">
        <%= image_tag("spacer.gif", width: "118", height: "1") %>
      </td>
      <td class="m-0 p-0">
        <%= image_tag("spacer.gif", width: "35", height: "1") %>
      </td>
      <td class="m-0 p-0">
        <%= image_tag("spacer.gif", width: "138", height: "1") %>
      </td>
      <td class="m-0 p-0">
        <%= image_tag("spacer.gif", width: "160", height: "1") %>
      </td>
      <td class="m-0 p-0">
        <%= image_tag("spacer.gif", width: "1", height: "1") %>
      </td>
    </tr>
    <tr>
      <td rowspan="4" class="m-0 p-0">
        <%= image_tag("map_r1_c1.gif", class: "americas_map", id: "map_r1_c1", usemap: "#m_map_r1_c1") %>
      </td>
      <td colspan="4" class="m-0 p-0">
        <%= image_tag("map_r1_c2.gif", class: "legend_map", id: "map_r1_c2") %>
      </td>
      <td class="m-0 p-0">
        <%= image_tag("spacer.gif", width: "1", height: "64") %>
      </td>
    </tr>
    <tr>
      <td class="m-0 p-0">
        <%= image_tag("map_r2_c2.gif", class: "europe_map", id: "map_r2_c2") %>
      </td>
      <td colspan="3" class="m-0 p-0">
        <%= image_tag("map_r2_c3.gif", class: "russia_map", id: "map_r2_c3", usemap: "#m_map_r2_c3") %>
      </td>
      <td class="m-0 p-0">
        <%= image_tag("spacer.gif", width: "1", height: "145") %>
      </td>
    </tr>
    <tr>
      <td rowspan="2" colspan="2" class="m-0 p-0">
        <%= image_tag("map_r3_c2.gif", class: "africa_map", id: "map_r3_c2", usemap: "#m_map_r3_c2") %>
      </td>
      <td colspan="2" class="m-0 p-0">
        <%= image_tag("map_r3_c4.gif", class: "asia_map", id: "map_r3_c4", usemap: "#m_map_r3_c4") %>
      </td>
      <td class="m-0 p-0">
        <%= image_tag("spacer.gif", width: "1", height: "94") %>
      </td>
    </tr>
    <tr>
      <td class="m-0 p-0">
        <%= image_tag("map_r4_c4.gif", class: "ocean_map", id: "map_r4_c4", usemap: "#m_map_r4_c4") %>
      </td>
      <td class="m-0 p-0">
        <%= image_tag("map_r4_c5.gif", class: "australia_map", id: "map_r4_c5", usemap: "#m_map_r4_c5") %>
      </td>
      <td class="m-0 p-0">
        <%= image_tag("spacer.gif", width: "1", height: "147") %>
      </td>
    </tr>
  </table>
</div>
